/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin: 0 auto;
    background: #ffffff;
}

.mat-raised-button.mat-primary{
    background-color: #003665 !important;
}

.mat-toolbar.mat-primary{
    background-color: #003665 !important;
}